/* Importation de Bibliothèques pour les polices */
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

/************************************************************/
/*                       Styles Globaux                     */
/************************************************************/

:root {
    /* Couleurs de base */
    --background-color: #1e2127;
    --secondary-background-color: #2a2e35;
    --background-color-tweet: #32363c;
    --tag-color: #3bc9db;
    --text-color: #fff;
    --secondary-text-color: #aaa;
    --text-color-lien: #ff4081;
    --border-color: #343a40;
    --shadow-color: rgba(0, 0, 0, 0.5);
    --button-color: #1684be;
    --button-hover-color: rgba(22, 132, 190, 0.25);

    /* Polices et bordures */
    --primary-font: 'Muli', sans-serif;
    --secondary-font: 'Quicksand', sans-serif;
    --base-font-size: 18px;
    --border-radius: 8px;
    --box-shadow: 0 4px 8px var(--shadow-color);
}

/* Styles globaux */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--primary-font);
}

body, html {
    background: var(--background-color);
    color: var(--text-color);
    font-size: var(--base-font-size);
    line-height: 1.6;
}

/* Logo Touiteur */
.logo_touiteur img {
    height: auto;
    width: 8vw;
    position: fixed;
    left: 0;
    top: 0;
    margin: 10px;
}

/************************************************************/
/*                      Titre Appli                         */
/************************************************************/

#touiteur {
    font-size: 4.5em;
    line-height: 1em;
    text-align: center;
    position: relative;
    top: 10vh;
    transform: translateY(-10vh);
    user-select: none;
}
#touiteur:hover {
    cursor: cell;
}

#touiteur .wrapper {
    display: inline-block;
    position: relative;
    height: 1em;
    width: 1em;
    transition: ease-in-out 0.3s;
}
#touiteur .wrapper span {
    position: absolute;
    top: 0;
    right: 0;
    transition: ease 0.3s;
}
#touiteur .wrapper span.letter-2 {
    color: var(--text-color-lien);
}
#touiteur .wrapper span.letter-1 {
    color: #FDF2E9;
    z-index: 1;
}
#touiteur .wrapper span.letter-1:hover {
    top: -2px;
    right: -2px;
}
#touiteur .wrapper span.letter-1:hover ~ .letter-2 {
    top: 2px;
    right: 2px;
}
#touiteur .wrapper span.space {
    padding: 0;
    min-width: 30px;
    display: inline-block;
}

.container-titre {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: 20vh;
    padding: 20px;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

/************************************************************/
/*                   Menu de profile                        */
/************************************************************/

.menu {
    position: fixed;
    font-size: 1.3em;
    bottom: 40px;
    right: 40px;
    border-radius: 50%;
    background: #282c34;
    text-align: center;
    line-height: 60px;
    transition: transform 0.2s ease;
    transform: scale(0.8);
    box-shadow: 0 2px 4px rgb(255, 77, 77);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.menu.active {
    transform: scale(1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    padding: 10px;
}

.menu ul {
    display: none;
    list-style: none;
}

.menu.active ul {
    width: 200px;
    border-radius: 15px;
    background: #32363c;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(0%);
    z-index: 1;
}

.menu.active ul li {
    padding: 10px 0;
}

.menu.active ul li a:hover {
    color: #ff4081;
}

.menu.active ul li a {
    color: white;
    position: relative;
    text-decoration: none;
    transition: color 0.3s ease;
    padding: 10px 0;
}

.menu.active ul li a::before {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -2px;
    left: 50%;
    background-color: rgba(0, 123, 255, 0.6);
    transition: width 0.2s ease-in-out;
    transform: translateX(-50%);
}

.menu.active ul li a:hover::before {
    width: 50%;
}

.menu .photo-profil a {
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    width: 160px;
    height: 160px;
    margin: 0 auto;
    border: 2px solid #ff4081;
    z-index: 2;
}

.menu.active .photo-profil a {
    width: 160px;
    height: 160px;
    border: 2px solid #ff4081;
    z-index: 2;
    margin-bottom: 10px;
}

.menu .photo-profil a img {
    margin: auto;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.menu:hover {
    transform: translateX(0);
    cursor: cell;
}

@media (max-width: 768px) {
    .menu {
        bottom: 10px;
        right: 10px;
    }
}

/************************************************************/
/*                         Tweets                           */
/************************************************************/

.tweets {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin-top: 50px;
    gap: 10px;
    border-radius: var(--border-radius);
}

.tweet:hover {
    background-color: var(--secondary-background-color);
    box-shadow: 0 8px 16px var(--shadow-color);
}

.tweet {
    background-color: var(--background-color-tweet);
    padding: 40px;
    margin-bottom: 20px;
    width: 100%;
    max-width: 600px;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    transition: all 0.1s ease;
    color: var(--text-color);
    overflow-wrap: break-word;
}

.tweet a {
    color: var(--text-color-lien);
    text-decoration: none;
    transition: color 0.2s;
}

.tweet a:hover {
    color: #cc3367;
}

.tweet .epingle-user img {
    position: relative;
    top: -50px;
    left: 0;
    width: 70px;
    height: 70px;
}

.tweet .epingle-user {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.tweet .user {
    color: var(--text-color);
    font-weight: bold;
    font-size: 1.3em;
    margin-top: -50px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid rgba(26, 29, 31, 0.8);
}

.tweet .user a {
    display: inline-flex;
    align-items: center;
    margin-left: 10px;
}

.tweet .user i.fa-user:hover {
    color: var(--text-color-lien) !important;
    cursor: pointer;
}

.tweet .user .suivre i {
    color: #ff4081;
    transition: transform 0.2s ease-in-out;
}

.tweet .user .suivre i:hover {
    transform: rotate(180deg);
    scale: 1.3;
    cursor: cell;
}

.tweet .content {
    margin-top: 20px;
    font-size: 1em;
    line-height: 1.5;
}

.tweet .content .hashtag {
    color: var(--tag-color);
    font-style: italic;
}

.tweet .content .hashtag:hover {
    color: rgba(59, 201, 219, 0.7);
}

.tweet .timestamp {
    font-size: 0.8em;
    color: var(--secondary-text-color);
    margin-top: 55px;
}

.tweet-detail {
    overflow-wrap: break-word;
}

.tweet .details-link {
    display: inline-block;
    font-size: 0.9em;
    margin-top: 10px;
    padding: 5px 10px;
    border-radius: 20px;
    background-color: #5b5757;
    color: lightgrey;
    transition: background-color 0.2s ease;
}

.tweet .details-link:hover {
    background-color: rgba(91, 87, 87, 0.48);
    color: var(--text-color);
}

.tweet-actions {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
    border-top: 2px solid rgba(26, 29, 31, 0.8);
}

.tweet-action {
    color: var(--text-color);
    font-size: 1.2em;
    transition: color 0.3s, transform 0.3s;
}

.tweet-action.like,
.tweet-action.dislike,
.tweet-action.retweet,
.tweet-action.reply,
.tweet-action.trash{
    margin-top: 15px;
    color: grey;
    transform: scale(1.1);
    cursor: pointer;
}

.tweet-action.like:hover {
    color: lightgreen;
}

.tweet-action.dislike:hover {
    color: indianred;
}

.tweet-action.retweet:hover {
    color: #0056b3;
}

.tweet-action.reply:hover {
    color: #d9ce49;
}

@media (max-width: 768px) {
    .tweet {
        width: 90%;
        margin-bottom: 15px;
    }
}

/************************************************************/
/*                     Profile Style                        */
/************************************************************/

.profile-header {
    background: var(--secondary-background-color);
    padding: 20px;
    border-radius: var(--border-radius);
    text-align: center;
    margin-bottom: 30px;
    box-shadow: var(--box-shadow);
}

.profile-header h1 {
    font-family: var(--secondary-font);
    font-size: 70px;
    font-weight: bold;
    color: #ffffff;
    margin: 0;
    text-shadow:0 1px 0 #ccc,
    0 2px 0 #c9c9c9,
    0 3px 0 #bbb,
    0 4px 0 #b9b9b9,
    0 5px 0 #aaa,
    0 6px 1px rgba(0,0,0,.1),
    0 0 5px rgba(0,0,0,.1),
    0 1px 3px rgba(0,0,0,.3),
    0 3px 5px rgba(0,0,0,.2),
    0 5px 10px rgba(0,0,0,.25),
    0 10px 10px rgba(0,0,0,.2),
    0 20px 20px rgba(0,0,0,.15);
}

.follow-btn {
    background-color: var(--button-color);
    color: var(--text-color);
    padding: 10px 20px;
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.follow-btn:hover {
    background-color: var(--button-hover-color);
}

.suivi{
    color: var(--secondary-text-color);
}

.followers-count,
.scoremoyen {
    color: var(--secondary-text-color) !important;
    margin-top: 10px;
}

/* Boîte modale pour la liste des followers */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(10, 10, 10, 0.9);
    z-index: 1000;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.modal.active {
    display: flex;
    opacity: 1;
    visibility: visible;
}

.modal-content {
    display: flex;
    flex-direction: column;
    background-color: #232222;
    border-radius: 10px;
    width: 50%;
    height: 80%;
    max-width: 500px;
    max-height: 80vh;
    margin: auto;
    padding: 20px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.5);
    gap: 10px;
    overflow-y: auto;
}

.modal-content h2 {
    font-size: 1.5em;
    text-align: center;
    color: darkorange;
    border-bottom: rgba(255, 255, 255, 0.51) 2px solid;
}

.follower-item {
    background-color: #1c1c1c;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
}

.follower-item:hover {
    background-color: #282828;
}

.follower-link {
    text-decoration: none;
    color: var(--text-color);
    display: flex;
    align-items: center;
    width: 100%;
}

.follower-link:hover .follower-name {
    text-decoration: none;
}

.follower-name {
    margin-left: 10px;
    font-size: 1rem;
}

.follower-name i {
    color: #676767;
    margin-right: 10px;
}

.close-modal {
    font-size: 36px;
    position: absolute;
    top: 0;
    right: 0;
    margin: 50px;
    cursor: pointer;
    color: #707070;
    transition: color 0.3s ease;
}

.close-modal:hover {
    color: #FE665A;
}

.modal-open {
    margin-top: 10px;
    font-size: 1em;
    padding: 10px 20px;
    background-color: #7391b2;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.2s ease, box-shadow 0.2s ease, transform 0.2s ease;
}

.modal-open:hover {
    background-color: rgba(48, 120, 241, 0.82);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
    transform: translateY(-2px);
}

.modal-open:focus {
    outline: none;
}

.modal-open:active {
    background-color: #1650AA;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transform: translateY(1px);
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}

@media (max-width: 768px) {
    .modal-content {
        width: 90%;
        margin: 10px;
        padding: 10px;
    }

    .close-modal-icon {
        top: 5px;
        right: 5px;
        font-size: 28px;
    }
}

/**********************************************/
/*                     Admin                  */
/**********************************************/

.btn-influenceurs, .btn-tendances {
     display: inline-block;
     padding: 10px 20px;
     margin: 5px;
     font-size: 16px;
     font-weight: bold;
     color: white;
     text-decoration: none;
     border-radius: 25px;
     transition: all 0.3s ease-in-out;
     box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
     border: none;
     cursor: pointer;
}

.btn-influenceurs {
    background: #5F4B8B; /* Fallback for older browsers without gradients */
    background: linear-gradient(45deg, #5F4B8B, #E69A8DFF);
}

.btn-tendances {
    background: #009688; /* Fallback for older browsers without gradients */
    background: linear-gradient(45deg, #009688, #4db6ac);
}

.btn-influenceurs:hover, .btn-tendances:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
}

.btn-influenceurs:active, .btn-tendances:active {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transform: translateY(0);
}

.influenceurs-container {
     max-width: 600px;
     margin: 20px auto;
     padding: 20px;
     background: var(--secondary-background-color);
     border-radius: 8px;
     box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.influenceur {
    padding: 10px;
    border-bottom: 1px solid #e1e1e1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s ease;
}

.influenceurs-container:hover {
    background-color: var(--background-color-tweet);
}

.influenceur:last-child {
    border-bottom: none;
}

.influenceur p {
    margin: 0;
    font-size: 20px;
    color: var(--text-color);
}

.influenceur p:first-child {
    font-weight: bold;
}

.influenceur p:last-child {
    font-size: 16px;
    color: #989696;
}

/************************************************************/
/*                    Éléments Naviguation                  */
/************************************************************/

.libelle_page_courante {
    font-size: 2em;
    margin: 20px auto;
    border: 2px solid var(--border-color);
    padding: 10px;
    border-radius: var(--border-radius);
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 50%;
    background-color: var(--secondary-background-color);
    color: var(--text-color);
    box-shadow: var(--box-shadow);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.libelle_page_courante:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 12px var(--shadow-color);
}

.libelle_page_courante img {
    width: 100px;
    height: auto;
}

.libelle_page_courante a {
    text-decoration: none;
    color: var(--text-color);
}

.retour-arriere {
    position: absolute;
    left: 0;
    top: 0;
    margin: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
}

.retour-arriere:hover {
    scale: 1.05;
    cursor: move;
}

.retour-arriere img {
    width: 30px;
    height: 30px;
}

.menu-nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    font-size: 1.5em;
    justify-content: center;
}

.menu-nav li {
    margin: 0 15px;
}

.menu-nav a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.59);
    font-weight: bold;
}

.menu-nav a:hover {
    text-decoration: dashed underline;
    color: white;
}

/************************************************************/
/*                    Template Formulaire                   */
/*                   Connexion, Inscription                 */
/************************************************************/

.form-container {
    background-color: #32363c;
    max-width: 500px;
    margin: 50px auto;
    padding: 30px;
    text-align: center;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.55);
    border-radius: 20px;
}

.form h1 {
    text-align: center;
    color: #007bff;
    margin-bottom: 20px;
}

.form input[type=text],
.form input[type=email],
.form input[type=password],
.form input[type=file] {
    box-sizing: border-box;
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 20px;
}

.password-container {
    position: relative;
}

.toggle-password {
    position: absolute;
    right: 0;
    top: 0;
    margin: 15px;
    cursor: pointer;
    color: #232222 !important;
}

.custom-file-upload {
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border-radius: 4px;
    border: 1px solid #006bff;
    transition: background-color 0.3s ease;
}

.custom-file-upload:hover {
    background-color: #0056b3;
}

.form textarea {
    box-sizing: border-box;
    width: 100%;
    height: 200px;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 20px;
    resize: none;
}

.form input[type=submit] {
    width: 100%;
    padding: 15px;
    background-color: rgba(204, 51, 103, 0.83);
    border: none;
    border-radius: 50px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form input[type=submit]:hover {
    background-color: #ff4081;
}

.separator{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    width: 40%;
    border: 2px solid rgba(255, 255, 255, 0.51);

}

@media (max-width: 768px) {
    .menu ul {
        flex-direction: column;
    }

    .menu li {
        margin: 10px 0;
    }
}


/************************************************************/
/*                    Template Feed                         */
/*                Profil, Touite, Details, ...              */
/************************************************************/

.template-all {
    background-color: #32363c;
    color: #fff;
    border-radius: 10px;
    padding: 20px;
    margin: auto;
    width: 70%;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    overflow-wrap: break-word;
}

.template-all .user {
    font-size: 1.2em;
    font-weight: bold;
    color: #007bff;
    margin-bottom: 10px;
}

.template-all .user a {
    color: rgba(0, 123, 255, 0.64);
    text-decoration: none;
}

.template-all .user a:hover {
    color: rgb(0, 166, 255);
}

.template-all .suivre {
    transition: transform 0.3s ease-in-out;
    display: inline-block;
}

.template-all .content {
    font-size: 1em;
    margin-bottom: 10px;
    background-color: #40454f;
    padding: 10px;
    border-radius: 6px;
}

.template-all .content a {
    color: #ff4081;
    text-decoration: none;
}

.template-all .content a:hover {
    text-decoration: underline;
}

.template-all .timestamp {
    font-size: 0.8em;
    color: #999999;
    margin-bottom: 10px;
}

.template-all .details-link {
    font-size: 0.9em;
    margin-top: 10px;
    padding: 5px 10px;
    border-radius: 20px;
    background-color: #5b5757;
    color: lightgrey;
    transition: background-color 0.3s ease;
    text-decoration: none;
}

.template-all img {
    width: 50%;
    height: 50%;
    border-radius: 10px;
    margin-top: 10px;
}

.template-all input[type=submit] {
    padding: 10px 20px;
    background-color: #007bff;
    border: none;
    border-radius: 20px;
    color: white;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

.template-all input[type=submit]:hover {
    background-color: #0056b3;
}

/************************************************************/
/*                    Pagination                            */
/************************************************************/

.pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px solid rgba(74, 81, 86, 0.5);
    border-bottom: 2px solid rgba(74, 81, 86, 0.5);
    padding: 10px 0;
    gap: 10px;
    width: 30%;
    margin: 20px auto;
}

.pagination a{
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: var(--button-hover-color);
    margin: 0 5px;
    transition: background-color 0.2s ease;
}

.pagination a:hover{
    background-color: var(--button-color);
}


/************************************************************/
/*                    suivi tags                            */
/************************************************************/

.tweet-detail {
    background-color: #32363c;
    color: #ffffff;
    border: 1px solid #007bff;
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto;
    max-width: 600px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-family: var(--secondary-font);
}

.tweet-detail .user,
.tweet-detail .content,
.tweet-detail .timestamp,
.tweet-detail .score {
    margin-bottom: 15px;
}

.tweet-detail .score {
    font-weight: bold;
    color: #ff4081;
}

.tweet-detail img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-top: 15px;
}

/************************************************************/
/*                         Footer                           */
/************************************************************/

footer {
    background-color: var(--secondary-background-color);
    padding: 10px 0;
    border-top: 1px solid #eaeaea;
    text-align: center;
    font-size: 0.8em;
    color: var(--secondary-text-color);
}